body {
    font-family: Georgia, Times;
}

#app {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    border-radius: 7px;
    background-color: black;
}

div.rank, div.lfodder, #button a, #guests {
    display: block;
    width: 260px;
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    border-radius: 7px;
    padding:5px;
}

div.lfodder {
    border-radius:0;
    background-color: transparent;
    padding-bottom: 2px;
    padding-top: 2px;
}

#lfodder {
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 7px;
    background-color: white;
}

div.lfodder {
    height: 19px;
    font-size: 15px;
}
div.lfodder a {
    display: block;
    color:#bbb;
    text-decoration:none;
}

div.lfodder a.selected {
    color:red;
}

a.lfodder_eat {
    float:left;
    width: 50px;
}

div.lfodder_name {
    float:left;
    width: 160px;
}

a.lfodder_fetch {
    float:right;
    width: 50px;
}

div.rank_score {
    float:right;
    margin-right: 5px;
}
div.rank_image {
    float:left;
    margin-right: 5px;
}
div.rank_name {
    float:left;
}

div.rank, #lfodder {
    margin-bottom: 10px;
}

#button a {
    color:#aaa;
    width: 120px;
    float:right;
    text-align:center;
}

#button a.activated {
    color:#000;
}

#guests {
    width: 120px;
    float:left;
    text-align: center;
}


input {
    border:none;
    font-size: 20px;
    height: 23px;
    font-family: Georgia;
    margin:0;
    padding:0;
    background-color: transparent;
}

#more {
    width: 100%;
    text-align:center;
    margin-top:-12px;
    margin-bottom: 4px;
}

#more a {
    text-decoration:none;
    color: white;
}

#button a:hover {
    background-color: #ccc;
}
